header{
  background: rgb(0,0,0);
  background: linear-gradient(129deg, rgba(0,0,0,1) 0%, rgba(54,54,54,1) 100%);
  color: #fff;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.section-navigation{
  border-bottom: thin solid #cccccc;
}

#logo{
  width: auto;
  min-height: auto;
  max-width: 200px;
}
